/* TODO
 * Style input fields when mouse over and before and after
 * Make social media buttons in the footer ok
 * Make a Pizza logo to use as a background image on the h1 heading
 * Set default fonts ok 
 * Set font with code from google fonts
 * Finish JS code in script 
 * Fix link on home page, find colors on the link that have WGA 
 * Fix the layout so it works on mobil aswell
 */
* {
    border: 0;
    margin: 0;
    padding: 0;
}

/*When using font size and em and rem, first set the highest font size you want on the top in the html selector. Then using rem and em later on your selectors
 will be relative to this size. This will make it easy to set font sizes.*/

html {
  background: 
  linear-gradient(rgba(0, 215, 15, 0.5),rgba(0, 215, 15, 0.5)), 
  url(../images/pizza-3007395_1920.jpg)
  no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font: 50px 'Arial', Futura, sans-serif;
  padding-top: 100px;
}

#height-on-html {
  height: 100%;
}

.index-page--body-style {
  height: 100%;
}

.index-page--main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
}

#main-page-button {
  font-size: 1rem;
  margin-top: 50px;
  padding: 6px 60px 6px 60px;
  border-radius: 10px;
  border: solid 2px  #00ffcd;
}

.index-page--main-section h2 {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
}

.index-page__footer--hide {
  display: none;
}

img {
  margin-top: 50px;
  width: 30px;
  height: 35px;
}

.footer--social-media {
  background-color: #ffc439;
  border-radius: 100%;
  padding: 20px;
  margin-right: 30px;
  float: none;
}

.footer--social-media img {
  margin: 100px 0 0 0;
  position: relative;
  top: 8px;
  left: 2px;
}

h1, h2, h3, p, a, label, legend, span {
  color: #fff;
}

h1 {
  font: 1.2rem 'Impact', Futura, serif;
  margin-left: 2%;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

h2, legend, .fieldset--container-two label, .fieldset--container-three label{
  font-size: 0.8rem;
}

p {
  font-size: 0.4rem;
  margin-top: 25px;
}

header h1, header nav {
  display: inline-block;
}

a {
  font-size: 0.5rem;
  text-decoration: none;
} 

a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

a:active {
  background-color: rgba(189, 189, 189, 0.6);
}

/*Use this class for when we are visiting a page and the link in the header will stay highlighted*/
.visiting-link {
  background-color: rgba(196, 196, 196, 0.7);
}

header {
  margin-bottom: 100px;
}

header nav {
  margin-left: 10%;
}

main {
  width: 90%;
  margin: 25px auto;
}

footer {
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 100px;
}

footer section {
  text-align: center;
}

.fieldset__div--container-one section {
  float: left;
  background: rgba(0, 0, 0, 0.7);
  margin-right: 2%;
  padding: 15px;
  border-radius: 15px;
}

.fieldset__div--container-one > section > div {
  margin-left: 7%;
}

span {
  font-size: 0.5rem;
  float: right;
  padding-top: 25px;
}

/*Use CSS attribute selectors on form styling*/
label[for=margherita-pizza], label[for=cheese-pizza], label[for=veggie-pizza] {
  font-size: 0.6rem;
}

label[for=quantity-option], label[for=crust-option] {
  font-size: 0.4rem;
}

label[for=italian-herb-pizza-sauce], label[for=mango-mint-dressing], label[for=hot-peanut-dressing] {
  font-size: 0.3rem;
  display: inline-block;
}

.fieldset__legend--heading-two, .fieldset__legend--heading-three {
  margin: 0 auto 25px auto;
}

.fieldset__legend--heading-one {
  margin-bottom: 10px;
}

.fieldset--container-two {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 100%;
  margin: 200px auto 25px auto;
}

.fieldset--container-two section {
  flex: 0 0 700px;
}

.fieldset--container-two section, .fieldset--container-three section {
  margin-bottom: 50px;
}

.fieldset--container-two  section:nth-child(2) input {
  position: relative;
  left: 7%;
}

.fieldset--container-two  section:nth-child(4) input {
  position: relative;
  left: 16%;
}

.form__input {
  height: 50px;
  width: 350px;
}

.fieldset--container-two span, .fieldset--container-three span {
  display: inline;
  float: none;
}

.fieldset--container-two label , .fieldset--container-three label {
  font-size: 0.5rem;
}

.fieldset--container-three {
  text-align: center;
}

.fieldset--container-three > section > section {
  background-color: black;
}

input[type=date], input[type=time] {
  height: 35px;
  width: 150px;
}

select[name=delivery-time] {
  height: 35px;
  position: relative; 
  left: 2.5%;
}

#time {
  position: relative;
  left: 2.3%;
  width: 80px;
  height: 36px;
}

label[for=time-on-day] {
  position: relative;
  right: 1.5%;
}

button[type=submit] {
  display: block;
  margin: 40px auto;
  font: 0.5rem 'Arial', futura, sans-serif;
  padding: 10px 100px 10px 100px;
  border-radius: 10px;
}

.pay-pal, .debit-card {
  margin: 0;
  position: relative;
}

.pay-pal {
  width: 60px;
  top: 10px;
  right: 10px;
}

.debit-card {
  top: 9px;
  right: 10px;
}

#pay-pal-button {
  padding: 6px 140px 8px 140px;
  background-color: #ffc439;
  color: #000;
}

#debit-card-button {
  background-color: black;
  color: #fff;
}

select {
  width: max-content;
  height: 30px;
  margin-right: 20px;
  font-size: 0.3rem;
}

input[type=radio] {
  width: 15px;
  height: 15px;
  display: inline-block;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  display: inline-block;
}

@media (max-width: 2092px) {
  .fieldset__div--container-one section {
    float: none;
    max-width: 50%;
    margin: 40px auto;
  }

  .fieldset__legend--heading-one {
    margin: 0 auto;
  }

  .fieldset--container-two {
    display: block;
    width: 0;
  }

  .fieldset--container-two section:nth-child(2) input, .fieldset--container-two section:nth-child(4) input{
    position: static;
  }
}

@media (min-width: 1190px) {
  label[for=hamburger-menu], #hamburger-menu {
    display: none;
  }
}

@media (max-width: 1190px) {
  html {
    padding-top: 25px;
  }

  header nav {
    display: none;
    margin-top: 1rem;
    margin-left: 5%;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
    border: 0;
  }

  nav a {
    display: block;
    text-align: left;
  }

  header {
    text-align: center;
    margin-bottom: 25px;
  } 

  h1 {
    font-size: 0.9rem;
  }

  h2, legend {
    font-size: 0.6rem;
  }

  h3 {
    font-size: 0.6rem;
  }

  p {
    font-size: 0.3rem;
  }

  h2  {
    text-align: center;
    margin-bottom: 25px;
  }

  .fieldset__legend--heading {
    margin: 25px auto;
  }

  .fieldset__legend--heading-two, .fieldset__legend--heading-three .fieldset--container-two section, 
  .fieldset--container-three section {
    margin-bottom: 20px;
  }

  .fieldset__div--container-one {
    width: 70%;
    margin: 0 auto;
  }

  .fieldset--container-two {
    margin-top: 20px;
  }
}

@media (max-width: 377px) {
  html {
    padding-top: 0;
  }

  header h1 {
    display: none;
  }

  header {
    text-align: left;
    margin-bottom: 25px;
  }

  header [for=hamburger-menu] {
    margin-left: 25px;
  }

  .fieldset__div--container-one section {
    min-height: min-content;
  }

  label[for=margherita-pizza] {
    display: block;
  }
}
